.banner-section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.launch .launch-project {
    font-family: "Open Sans", sans-serif;
    color: white;
    font-size: 16px;
    display: inline-flex;
    padding: 14px 22px 14px 25px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    border: 1px solid rgba(214, 214, 214, 0.33);
    background: linear-gradient(90deg, #0E5A65 -9.26%, rgba(32, 59, 109, 0.00) 106.72%);
    transition: all 200ms linear;
}

.launch .launch-project:hover {
    gap:25px;
    transition: all 200ms linear;
    cursor: pointer;
}

.banner-content {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-template-areas: "bc1 bc2";
    align-items: center;
    gap: 150px;
}

.banner-title {
    font-family: "Roboto Slab", serif;
    font-size: 68px;
    font-style: normal;
    font-weight: 700;
    line-height: 78px; 
    color: white;
}

.banner-title > .color {
    color: #038A9E;
}

.banner-title-content {
    color: #EAFCFF;
    font-size: 22px;
    font-style: normal;
    font-weight: 200;
    line-height: 38px;
}

.banner-button button{
    font-family: "Open Sans", sans-serif;
    color: #EAFCFF;
    font-size: 16px;
    display: flex;
    padding: 14px 22px 14px 25px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    border: 1px solid rgba(214, 214, 214, 0.33);
    background: linear-gradient(90deg, #0E5A65 -9.26%, rgba(32, 59, 109, 0.00) 106.72%);
    transition: all 200ms linear;
}

.banner-button button:hover {
    gap: 25px;
    transition: all 200ms linear;
    cursor: pointer;
}

.bc-1 {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.bc-2  {
    position: relative;
}

.bc-2 .round img {
    animation-name: rotate-sphere;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-timing-function: linear;
}

.bc-2 .banner-phone > .phone1{
    backdrop-filter: blur(10px);
    position: absolute;
    top: 60px;
    left: 0;
    border-radius: 20px;
}

.bc-2 .banner-phone > .phone2{
    backdrop-filter: blur(10px);
    position: absolute;
    top: 90px;
    left: 165px;
    border-radius: 20px;
}

.bc-2 > .explore {
    font-family: "Open Sans", sans-serif;
    color: #EAFCFF;
    display: flex;
    width: 146px;
    height: 56px;
    padding: 18px;
    justify-content: center;
    align-items: center;
    gap: 59px;
    border-radius: 15px;
    border: 0.9px solid rgba(255, 255, 255, 0.50);
    background: linear-gradient(69deg, rgba(255, 255, 255, 0.20) 10.42%, rgba(255, 255, 255, 0.04) 77.11%);
    box-shadow: 0px 0.5px 15px 0px rgba(69, 42, 124, 0.10);
    backdrop-filter: blur(17px);
    position: absolute;
    top: 145px;
    left: 275px;
    transition: all 200ms linear;
}

.bc-2 > .explore:hover{
    transition: all 200ms linear;
    width: 175px;
    cursor: pointer;
}

.bc-2 > .started {
    font-family: "Open Sans", sans-serif;
    color: #EAFCFF;
    display: flex;
    width: 145px;
    height: 37px;
    padding: 9px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 7.9px;
    border: 0;
    background: linear-gradient(243deg, #036A89 -18.94%, #161F36 88.53%);
    box-shadow: -4.937px 9.381px 9.875px 0px rgba(43, 9, 120, 0.35);
    position: absolute;
    bottom: 110px;
    left: 275px;
    transition: all 200ms linear;
}

.bc-2 > .started:hover {
    width: 175px;
    transition: all 200ms linear;
    cursor: pointer;
}
 
.bc-2 > .sphere {
    position: absolute;
    bottom: 80px;
    left: -30px;
    animation: square-rotate 7s infinite linear;
    transition: all 3s linear;
}

.bc-2 > .android {
    position: absolute;
    bottom: 10%;
    right: 130px;
    animation: scale 3s ease-out infinite;
    
}

.bc-2 > .windows {
    position: absolute;
    bottom: 25%;
    right: 70px;
    animation: scale 3s ease-out  infinite;
    animation-delay: 10s;
}

.bc-2 > .figma {
    position: absolute;
    bottom: 45%;
    right: 40px;
    animation: scale 3s ease-out 6s infinite;
    
}

.bc-2 > .react {
    position: absolute;
    bottom: 65%;
    right: 70px;
    animation: scale 3s ease-out infinite;
    animation-delay: 10s; 
}

.bc-2 > .ios {
    position: absolute;
    bottom: 80%;
    right: 130px;
    animation: scale 3s ease-out 12s infinite; 
}

.banner-tech {
    font-family: "Roboto Slab", serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 4.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 52px;
}

.banner-tech p{
    color: #EAFCFF;
}

.banner-footer p{
    font-family: "Raleway", sans-serif;
    color: #EAFCFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
    padding: 0px 100px;
}


@keyframes rotate-sphere {
    0% {
        transform: rotate(0) translateY(10px) rotate(0);
    }

    100% {
        transform: rotate(360deg) translateY(10px) rotate(-360deg);
    }

}

@keyframes square-rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes scale {
    0% {
        transform: scale(0.7, 0.7)
    }
    50% {
        transform: scale(1.2, 1.2)
    }
    100% {
        transform: scale(0.7, 0.7)
    }
}
/* ---------------------------------------------------Media Query (min-width: 380px & max-width: 640px) --------------------------------- */

@media only screen and (min-width:380px) and (max-width:640px) {
    
    .launch .launch-project{
        padding: 10px 18px 10px 21px;
        font-size: 12px;
    }
    
    .banner-content {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        grid-template-areas: "bc2 "
                             "bc1 ";
        gap: 50px;
    }

   .logo img {
        width: 62px;
        height: 53px;
   }

    .banner-title {
        font-size: 34px;
        line-height: 40px;
    }

    .banner-title-content {
        font-size: 18px;
    }

    .banner-button button {
        font-size: 12px;
        padding: 10px 18px 10px 21px;
    }

    .bc-2 {
        display: flex;
        justify-content: center;
    }

    .bc-2 > .round > .sphereball  {
        width: 370px;
    }

    .bc-2 > .banner-phone > .phone1, .bc-2 > .banner-phone > .phone2 {
        width: 130px;
    }

    .bc-2 .banner-phone > .phone1{
        top: 20px;
        left: 0;
    }
    
    .bc-2 .banner-phone > .phone2{
        top: 50px;
        left: 95px;
    }
    
    .bc-2 > .explore {
        width: 100px;
        height: 38px;
        padding: 18px;
        top: 90px;
        left: 175px;
        border: 0;
        font-size: 10px;
    }
    
    .bc-2 > .explore:hover{
        width: 140px;
    }
    
    .bc-2 > .started {
        width: 100px;
        height: 35px;
        padding: 9px 16px;
        border: 0;
        bottom: 80px;
        left: 170px;
        font-size: 10px;
    }
    
    .bc-2 > .started:hover {
        width: 140px;
    }

    .bc-2 > .sphere {
        bottom: 75px;
        left: -20px;
        width: 40px;
    }
    
    .bc-2 > .android {
        bottom: 10%;
        right: 50px;
        width: 30px;
    }
    
    .bc-2 > .windows {
        bottom: 25%;
        right: 10px;
        width: 30px;
    }
    
    .bc-2 > .figma {
        bottom: 45%;
        right: 0px;
        width: 30px;
        
    }
    
    .bc-2 > .react {
        bottom: 65%;
        right: 10px;
        width: 30px;
    }
    
    .bc-2 > .ios {
        bottom: 80%;
        right: 45px;
        width: 30px;
    }
    
    .banner-tech {
        font-size: 8px;
        gap: 5px;
    }
    
    .banner-footer p{
        font-size: 12px;
        line-height: 22px;
        text-align: justify ;
        padding: 0;
    }

    @keyframes scale {
        0% {
            transform: scale(0.9, 0.9)
        }
        50% {
            transform: scale(1.2, 1.2)
        }
        100% {
            transform: scale(0.9, 0.9)
        }
    }
}

@media only screen and (min-width:641px) and (max-width:768px) {

    .launch .launch-project{
        padding: 14px 20px 14px 20px;
        font-size: 12px;
       
    }

    .logo img {
        width: 72px;
        height: 63px;
   }
    
    .banner-content {
        grid-template-columns: auto auto;
        grid-template-rows: auto ;
        grid-template-areas: "bc1 bc1";
        gap: 50px;
    }

    .banner-title {
        font-size: 24px;
        line-height: 35px;
    }

    .banner-title-content {
        font-size: 14px;
        line-height: 28px;
    }

    .banner-button button {
        font-size: 12px;
        padding: 14px 20px 14px 20px;
    }

    .bc-2 {
        display: flex;
        justify-content: center;
    }

    .bc-2 > .round > .sphereball  {
        width: 370px;
    }

    .bc-2 > .banner-phone > .phone1, .bc-2 > .banner-phone > .phone2 {
        width: 140px;
    }

    .bc-2 .banner-phone > .phone1{
        top: 20px;
        left: 0;
    }
    
    .bc-2 .banner-phone > .phone2{
        top: 50px;
        left: 95px;
    }
    
    .bc-2 > .explore {
        width: 110px;
        height: 42px;
        padding: 18px;
        top: 90px;
        left: 175px;
        border: 0;
        font-size: 10px;
    }
    
    .bc-2 > .explore:hover{
        width: 140px;
    }
    
    .bc-2 > .started {
        width: 110px;
        height: 40px;
        padding: 9px 16px;
        border: 0;
        bottom: 80px;
        left: 170px;
        font-size: 10px;
    }
    
    .bc-2 > .started:hover {
        width: 140px;
    }

    .bc-2 > .sphere {
        bottom: 35px;
        left: -20px;
        width: 40px;
    }
    
    .bc-2 > .android {
        bottom: 10%;
        right: 40px;
        width: 40px;
    }
    
    .bc-2 > .windows {
        bottom: 25%;
        right: 0px;
        width: 40px;
    }
    
    .bc-2 > .figma {
        bottom: 45%;
        right: -20px;
        width: 40px;
        
    }
    
    .bc-2 > .react {
        bottom: 65%;
        right: 0px;
        width: 40px;
    }
    
    .bc-2 > .ios {
        bottom: 80%;
        right: 40px;
        width: 40px;
    }
    
    .banner-tech {
        font-size: 14px;
        gap: 15px;
    }
    
    .banner-footer p{
        font-size: 16px;
        line-height: 28px;
        text-align: center ;
        padding: 0;
    }

    @keyframes scale {
        0% {
            transform: scale(0.9, 0.9)
        }
        50% {
            transform: scale(1.2, 1.2)
        }
        100% {
            transform: scale(0.9, 0.9)
        }
    }
}



