.footer-section {
    display: flex;
    flex-direction: column;
    gap: 100px;
    position: relative;
    height: auto;
}

.footer-1 {
    width: auto;
    padding: 40px;
    border-radius: 20px;
    border: 1.5px solid #73C6D2;
    background: linear-gradient(93deg, rgba(255, 255, 255, 0.18) 2.79%, rgba(255, 255, 255, 0.18) 2.79%, rgba(255, 255, 255, 0.00) 96.26%);
    backdrop-filter: blur(9px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-1 p {
    color: #FFF;
    font-family: "Roboto Slab";
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
}

.footer-1 button {
    color: #FFF;
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    display: flex;
    padding: 14px 22px 14px 25px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    border: 1px solid rgba(214, 214, 214, 0.33);
    background: linear-gradient(90deg, #0E5A65 -9.26%, rgba(32, 59, 109, 0.00) 106.72%);
}

.footer-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 480px;
    border-bottom: 1px solid #038a9e;
}


.footer-2 .mtl-social {
    display: flex;
    gap: 15px;
}

.footer-2 .mtl-social-quote {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-2 .mtl-social-quote .quote {
    color: #FFF;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.238px;
}

.footer-2 .social-icons {
    display: flex;
    gap: 15px;
}

.footer-2 > .mtl-contact, .mtl-uk-address, .mtl-india-address {
    color: #FFF;
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%; 
    letter-spacing: 0.272px;
}

.footer-2 .mtl-contact {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-2 .mtl-contact  label {
    font-weight: 700;
}

.world-map {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 5%;
    bottom: 20%;
}

.world-map img {
    width: 980px;
    height: 350px;
}

.copyright {
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}


.copyright a {
    text-decoration: none;
    color:#FFF;
    font-weight: 700;
}

/* ---------------------------------------------------Media Query (min-width: 380px & max-width: 640px) ---------------------------------  */

@media only screen and (min-width:380px) and (max-width:640px){
    .footer-section {
        flex-direction: column;
        gap: 50px;
    }
    
    .footer-1 {
        padding: 20px;
        display: flex;
        gap: 15px;
        flex-direction: column;
    }
    
    .footer-1 p {
        font-size: 16px;
        text-align: center;
    }
    
    .footer-1 button {
        font-size: 16px;
        padding: 10px 18px 10px 21px;
    }
    
    .footer-2 {
        flex-direction: column;
        gap: 20px;
        height: 550px;
        border-bottom: none;
    }
    
    
    .footer-2 .mtl-social {
        display: flex;
        gap: 15px;
    }
    
    .footer-2 .mtl-social-quote {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    
    .footer-2 .mtl-social-quote .quote {
        font-size: 14px;
    }
    
    .footer-2 .social-icons {
        display: flex;
        gap: 15px;
    }
    
    .footer-2 > .mtl-contact, .mtl-uk-address, .mtl-india-address {
        font-size: 14px;
    }

    .mtl-uk-address {
        padding-right: 110px;
    }
    
    .footer-2 .mtl-contact {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .footer-2 .mtl-contact  label {
        font-weight: 700;
    }
    
    .world-map {
        right: 0%;
        bottom: -10%;
    }
    
    .world-map img {
        width: 380px;
        height: 350px;
    }  
}

/* ---------------------------------------------------Media Query (min-width: 641px & max-width: 768px) --------------------------------- */

@media only screen and (min-width:641px) and (max-width:768px){
    .footer-section {
        flex-direction: column;
        gap: 50px;
    }
    
    .footer-1 {
        padding: 20px;
        display: flex;
        gap: 15px;
        flex-direction: column;
    }
    
    .footer-1 p {
        font-size: 16px;
        text-align: center;
    }
    
    .footer-1 button {
        font-size: 16px;
        padding: 10px 18px 10px 21px;
    }
    
    .footer-2 {
        flex-direction: column;
        gap: 20px;
        height: 550px;
        border-bottom: 1px solid #038a9e;
    }
    
    
    .footer-2 .mtl-social {
        display: flex;
        gap: 15px;
    }
    
    .footer-2 .mtl-social-quote {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    
    .footer-2 .mtl-social-quote .quote {
        font-size: 14px;
    }
    
    .footer-2 .social-icons {
        display: flex;
        gap: 15px;
    }
    
    .footer-2 > .mtl-contact, .mtl-uk-address, .mtl-india-address {
        font-size: 14px;
    }

    .mtl-uk-address {
        padding-right: 150px;
    }

    .mtl-india-address{
        padding-left: 50px;
    }
    
    .footer-2 .mtl-contact {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .footer-2 .mtl-contact  label {
        font-weight: 700;
    }
    
    .world-map {
        right: 0%;
        bottom: -10%;
    }
    
    .world-map img {
        width: 680px;
        height: 350px;
    } 
}

/* ---------------------------------------------------Media Query (min-width: 769px & max-width: 992px) --------------------------------- */

@media only screen and (min-width:769px) and (max-width:992px){
    .footer-section {
        flex-direction: column;
        gap: 50px;
    }
    
    .footer-1 {
        padding: 20px;
        display: flex;
        gap: 15px;
        flex-direction: column;
    }
    
    .footer-1 p {
        font-size: 16px;
        text-align: center;
    }
    
    .footer-1 button {
        font-size: 16px;
        padding: 10px 18px 10px 21px;
    }
    
    .footer-2 {
        flex-direction: row;
        gap: 20px;
        height: 550px;
        border-bottom: 1px solid #038a9e;
    }
    
    
    .footer-2 .mtl-social {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    
    .footer-2 .mtl-social-quote {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    
    .footer-2 .mtl-social-quote .quote {
        font-size: 14px;
    }
    
    .footer-2 .social-icons {
        display: flex;
        gap: 15px;
    }
    
    .footer-2 > .mtl-contact, .mtl-uk-address, .mtl-india-address {
        font-size: 14px;
    }

    .footer-2 .mtl-contact {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .footer-2 .mtl-contact  label {
        font-weight: 700;
    }
    
    .world-map {
        right: 0%;
        bottom: -10%;
    }
    
    .world-map img {
        width: 700px;
        height: 350px;
    }  
}

/* ---------------------------------------------------Media Query (min-width: 993px & max-width: 1280px) --------------------------------- */

@media only screen and (min-width:993px) and (max-width:1280px){
    .footer-section {
        flex-direction: column;
        gap: 50px;
    }
    
    .footer-1 {
        padding: 20px;
        display: flex;
        gap: 15px;
        flex-direction: column;
    }
    
    .footer-1 p {
        font-size: 16px;
        text-align: center;
    }
    
    .footer-1 button {
        font-size: 16px;
        padding: 10px 18px 10px 21px;
    }
    
    .footer-2 {
        flex-direction: row;
        gap: 20px;
        height: 550px;
        border-bottom: 1px solid #038a9e;
    }
    
    
    .footer-2 .mtl-social {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    
    .footer-2 .mtl-social-quote {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    
    .footer-2 .mtl-social-quote .quote {
        font-size: 14px;
    }
    
    .footer-2 .social-icons {
        display: flex;
        gap: 15px;
    }
    
    .footer-2 > .mtl-contact, .mtl-uk-address, .mtl-india-address {
        font-size: 14px;
    }

    .footer-2 .mtl-contact {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .footer-2 .mtl-contact  label {
        font-weight: 700;
    }
    
    .world-map {
        right: 0%;
        bottom: -10%;
    }
    
    .world-map img {
        width: 700px;
        height: 350px;
    }  
}

