.process-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    position: relative;
}

.process-svg img {
    position: absolute;
    left: -130px;
    top: 18%;
}

.pc-1 {
    display: flex;
    flex-direction: column;
    width: 535px;
    justify-content: center;
    gap: 30px;
}

 .pc-1 .process-title {
    color: #FFF;
    font-family: "Roboto Slab";
    font-size: 68px;
    font-style: normal;
    font-weight: 300;
    line-height: 58px;
}

.pc-1 .process-title > label {
    font-weight: 700;
    color: #038A9E;
}

.pc-1 .process-title-content {
    color: #EAFCFF;
    font-family: "Raleway";
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px
}

.pc-1 button {
    color: #FFF;
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    display: flex;
    padding: 14px 22px 14px 25px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    border: 1px solid rgba(214, 214, 214, 0.33);
    background: linear-gradient(90deg, #0E5A65 -9.26%, rgba(32, 59, 109, 0.00) 106.72%);
    transition: all 200ms linear;
}


.pc-1 button:hover {
    gap: 20px;
    cursor: pointer;
    transition: all 200ms linear;
}

.pc-2 {
    display: flex;
    position: relative;
}

.pc-2 .mobile-process-list {
    width: 400px;
    height: auto;
    padding: 20px 0px;
    border-radius: 30px;
    border: 1.4px solid rgba(255, 255, 255, 0.485);
    background: linear-gradient(86deg, rgba(79, 160, 200, 0.316) 11.14%, rgba(255, 255, 255, 0.188) 113.29%);
    /* box-shadow: 0px 0.6px 15px 0px rgba(69, 42, 124, 0.10); */
    /* box-shadow: 0px 10px 113.6px 0px rgba(115, 198, 210, 0.29); */
    /* box-shadow: rgba(54, 130, 131, 0.2) 0px 60px 40px -7px; */
    /* box-shadow: rgba(54, 130, 131, 0.2) 35px 25px 25px, rgba(54, 130, 131, 0.2) 0px 5px 10px; */
    box-shadow: -39px 27px 96px 19px rgba(79, 160, 200, 0.316);
    backdrop-filter: blur(17px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    z-index: 2;
}

.pc-2 > img {
    width: 455px;
    position: absolute;
    top: 10%;
    right: -45%;
    z-index: 1;
    animation: sphere-rotate 40s infinite linear;
}

.pc-2 .list-content {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.pc-2 .list-content .list-1 {
    width: 283px;
    height: 30px;
    padding: 15px;
    color: #000;
    font-family: "Open Sans";
    font-size: 15.8px;
    font-weight: 700;
    border: 0.987px solid rgba(255, 255, 255, 0.50);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.66);
    backdrop-filter: blur(18px);
    display: flex;
    gap: 20px;
    align-items: center; 
    transition: all 200ms linear;
}

.pc-2 .list-content .list-1:hover {
    color: #FFF;
    border-radius: 14.812px;
    border: 0.987px solid rgba(255, 255, 255, 0.50);
    background-image: linear-gradient(81deg, #038a9e 9.71%, #064a71 69.6%);
    box-shadow: 0px 0.591px 10.77px 0px rgba(69, 42, 124, 0.10), -10px 5px 10.5px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(17.280948638916016px);
    cursor: pointer;
    transform: translateX(-100px) scale(1);
    transition: all 200ms linear;
}

.pc-2 .bottom-bar img {
    width: 250px;
}

@keyframes sphere-rotate {
    100% {
        transform: rotate(360deg);
    }
}

/* ---------------------------------------------------Media Query (min-width: 380px & max-width: 640px) ---------------------------------  */

@media only screen and (min-width:380px) and (max-width:640px) {
    .process-content {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    
    .process-svg img {
       display: none;
    }
    
    .pc-1 {
        width: 405px;
        align-items: center;
    }
    
     .pc-1 .process-title {
        font-size: 38px;
        display: flex;
        gap: 10px;
        justify-content: center;
    }
    
    .pc-1 .process-title-content {
        text-align: center;
    }
    
    .pc-1 button {
        font-size: 14px;
        display: flex;
        padding: 10px 18px 10px 21px;
        gap: 10px;
    }

    .pc-1 button:hover {
        gap: 20px;
        cursor: pointer;
        transition: all 200ms linear;
    }
    
    .pc-2 .mobile-process-list {
        width: 360px;
    }
    
    .pc-2 > img {
        top: 15%;
        right: 20%;
    }
    
    .pc-2 .list-content .list-1 {
        height: 25px;
    }
    
    .pc-2 .list-content .list-1:hover {
        transform: none;
    }
}

/* ---------------------------------------------------Media Query (min-width: 641px & max-width: 768px) --------------------------------- */

@media only screen and (min-width:641px) and (max-width:768px) {
    .process-content {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    
    .pc-1 {
        width: 535px;
        align-items: center;
    }

    .process-svg img {
        display: none;
     }
    
     .pc-1 .process-title {
        font-size: 38px;
        display: flex;
        gap: 10px;
        justify-content: center;
    }
    
    .pc-1 .process-title-content {
        text-align: center;
    }
    
    .pc-1 button {
        font-size: 14px;
        display: flex;
        padding: 10px 18px 10px 21px;
        gap: 10px;
    }

    .pc-1 button:hover {
        gap: 20px;
        cursor: pointer;
        transition: all 200ms linear;
    }
    
    .pc-2 .mobile-process-list {
        width: 360px;
    }
    
    .pc-2 > img {
        top: 15%;
        right: -40%;
    }
    
    .pc-2 .list-content .list-1 {
        height: 25px;
    }
    
    .pc-2 .list-content .list-1:hover {
        transform: none;
    }
}

/* ---------------------------------------------------Media Query (min-width: 769px & max-width: 992px) --------------------------------- */

@media only screen and (min-width:769px) and (max-width:992px) {
    .process-content {
        display: flex;
        gap: 20px;
    }
    
    .pc-1 {
        width: 535px;
        align-items: center;
    }

    .process-svg img {
        display: none;
     }
    
     .pc-1 .process-title {
        font-size: 38px;
        display: flex;
        gap: 0;
        justify-content: center;
    }
    
    .pc-1 button {
        font-size: 14px;
        display: flex;
        padding: 10px 18px 10px 21px;
        gap: 10px;
    }

    .pc-1 button:hover {
        gap: 20px;
        cursor: pointer;
        transition: all 200ms linear;
    }
    
    .pc-2 .mobile-process-list {
        width: 360px;
    }
    
    .pc-2 > img {
        top: 15%;
        right: -40%;
    }
    
    .pc-2 .list-content .list-1 {
        height: 25px;
    }
    
    .pc-2 .list-content .list-1:hover {
        transform: none;
    }
}

/* ---------------------------------------------------Media Query (min-width: 993px & max-width: 1280px) --------------------------------- */

@media only screen and (min-width:993px) and (max-width:1280px){
        .process-content {
            display: flex;
            gap: 20px;
        }
        
        .pc-1 {
            width: 535px;
            display: flex;
            align-items: flex-start;
        }
    
        .process-svg img {
            position: absolute;
            left: -110px;
            top: 43%; 
            width: 200px;
         }
        
         .pc-1 .process-title {
            font-size: 38px;
            display: flex;
            flex-direction: column;
            gap: 0;
            justify-content: start;
        }
        
        .pc-1 button {
            font-size: 14px;
            display: flex;
            padding: 10px 18px 10px 21px;
            gap: 10px;
        }
    
        .pc-1 button:hover {
            gap: 20px;
            cursor: pointer;
            transition: all 200ms linear;
        }
        
        .pc-2 .mobile-process-list {
            width: 360px;
        }
        
        .pc-2 > img {
            top: 15%;
            right: -40%;
        }
        
        .pc-2 .list-content .list-1 {
            height: 25px;
        }
        
        .pc-2 .list-content .list-1:hover {
            transform: none;
        }
    }
