.main-body {
    background-image: url(../assets/LandingPage.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Open Sans", sans-serif;
   
}

.main-sub-body {
    max-width: 1536px;
    margin: auto;
    padding: 20px 50px;
}