.main-body {
    background-image: url(../assets/LandingPage.png);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-family: "Open Sans", sans-serif;
   
}

.main-sub-body {
    max-width: 1536px;
    margin: auto;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

@media only screen and (min-width:380px) and (max-width:640px) {
    .main-sub-body {
        margin: auto;
        padding: 20px 35px;
    }
}